<div class="container text-center">
<div class="text-center py-3">
    <h4>List of characters</h4>
</div>
<ng-container *ngIf="characterList$|async as records else loading">
    
<div *ngFor="let res of records.results trackBy: trackByCharacterId">
    
       <div>
        <div class=" m-auto list-item">
            <h3 (click)="characterdetails(res.uid)" class=" text-center py-1">{{res.name}}</h3>
       </div>
       </div>
    </div>

<app-pagination
[TotalPages]="records.total_pages"
[CurrentPage]="curentPage$.value"
[perPage]="perPage$.value"
(pagechanged)="perpagechanged($event)"
>
</app-pagination>
</ng-container>


<ng-template #loading>
<p>loading....plaese wait.....</p>
</ng-template>
</div>

